body {
    background-color: #f2f2f2;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    background: #f2f2f2;
}

#head img {
    padding: 20px 25%;
    /*    border: 2px solid black;*/
}

.menu {
    background-color: #b30000;
    padding: 6px 0 6px 5%;
}

.menu a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: #d9d9d9;
}

.sp {
    padding: 0px 20px;
    color: whitesmoke;
    font-size: 22px;
}

#article1 {
    padding: 10px 0 0 15%;
}

#div_all {
    margin: 6% 0 0 25%;
}

.text {
    padding: 1px;
    margin-left: 2%;
    border-radius: 5px;
    font-size: 14px;
}

.lb {
    display: inline;
    font-size: 20px;
}

.sub {
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
    padding: 6px 35px;
    font-weight: bold;
    color: red;
}

#sub::before {
    content: url(../images/rsz_1user_remove_1.png);
    padding-right: 5px;
}

#div1 {
    padding: 1% 0 0 10%;
}

#subit::before{
    content:url(../images/searchg.png);
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 6px 0px;
    background-color: #d6d6d6;
    font-family: "Lucida Sans Unicode";
    font-size: 12px;
    text-align: right;
}
