body {
    background-color: #f2f2f2;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    background: #f2f2f2;
}

#head img {
    padding: 20px 25%;
    /*    border: 2px solid black;*/
}

.menu {
    background-color: #b30000;
    padding: 6px 0 6px 30%;
}

.menu a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: #d9d9d9s;
}

.sp {
    padding: 0px 20px;
    color: whitesmoke;
    font-size: 22px;
}

#submit {
    position: fixed;
    bottom: 45%;
    left: 42%;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
    padding: 6px 50px;
}

#submit1{
    position: fixed;
    bottom: 45%;
    left: 43%;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
    padding: 6px 50px;
}

#sub {
    margin: 5% 35%;
}

#tt{
    
    border: 1px solid black;
    border-collapse: collapse;
    width: 60%;
    font-size: 20px;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 5em;
    font-weight: bold;
}

#sb{
    position: fixed;
    bottom: 25%;
    left: 45%;    
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
    padding: 6px 50px;
}

.tx{
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    font-size: 18px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 6px 0px;
    background-color: #d6d6d6;
    font-family: "Lucida Sans Unicode";
    font-size: 16px;

    text-align: right;
    
}
